## Aggregate Query Practice

In [1]:
import warnings
warnings.filterwarnings('ignore')
from reframe import Relation
country = Relation('/home/faculty/millbr02/pub/country.csv')

### Which government form has the highest average life expectancy?

In [5]:
country.groupby('governmentform').mean('lifeexpectancy').sort('mean_lifeexpectancy',ascending=False)

                                  governmentform  mean_lifeexpectancy
25                  Parliamentary Coprincipality            83.500000
31        Special Administrative Region of China            80.550000
12                                    Federation            79.600000
34                                  US Territory            77.000000
6            Constitutional Monarchy, Federation            76.950000
8                  Dependent Territory of the UK            76.800000
21  Nonmetropolitan Territory of The Netherlands            76.550000
5              Constitutional Monarchy (Emirate)            76.100000
23                 Overseas Department of France            76.025000
3                         Commonwealth of the US            75.550000
30                             Socialistic State            75.500000
10                            Emirate Federation            74.100000
19           Nonmetropolitan Territory of France            73.800000
26                               Part of Denmark            73.250000
17                            Monarchy (Emirate)            73.000000
18                          Monarchy (Sultanate)            72.700000
29                          Socialistic Republic            72.066667
4                        Constitutional Monarchy            71.868966
1                                Autonomous Area            71.400000
27                              People'sRepublic            71.400000
20      Nonmetropolitan Territory of New Zealand            71.100000
24                         Parlementary Monarchy            69.200000
32            Territorial Collectivity of France            68.550000
11                              Federal Republic            68.433333
15                              Islamic Republic            63.150000
28                                      Republic            62.459016
16                                      Monarchy            60.180000
22                           Occupied by Marocco            49.800000
0                        Administrated by the UN            46.000000
14                               Islamic Emirate            45.900000
2                               Co-administrated                  NaN
7                  Dependent Territory of Norway                  NaN
9                  Dependent Territory of the US                  NaN
13                      Independent Church State                  NaN
33                        Territory of Australia                  NaN

### Calculate the surface area of the regions and sort in ascending order

In [6]:
country.groupby('region').sum('surfacearea').sort('sum_surfacearea')

                       region  sum_surfacearea
12       Micronesia/Caribbean             16.0
11                 Micronesia           3102.0
17                  Polynesia           8463.0
2            Baltic Countries         175117.0
4                   Caribbean         234423.0
3             British Islands         313173.0
10                  Melanesia         540774.0
24             Western Europe        1108456.5
21            Southern Europe        1316392.4
14           Nordic Countries        1321901.0
6             Central America        2479531.0
20            Southern Africa        2674781.0
19             Southeast Asia        4494802.0
13                Middle East        4820592.0
23             Western Africa        6138336.0
7              Eastern Africa        6299891.0
5              Central Africa        6612669.0
1   Australia and New Zealand        8011939.0
16            Northern Africa        8524700.0
22  Southern and Central Asia       10791132.0
8                Eastern Asia       11774482.0
0                  Antarctica       13132101.0
18              South America       17864922.0
9              Eastern Europe       18814094.0
15              North America       21500515.0

### which government types have the lowest average life expectancy?

In [7]:
country.groupby('governmentform').mean('lifeexpectancy').sort('mean_lifeexpectancy')

                                  governmentform  mean_lifeexpectancy
14                               Islamic Emirate            45.900000
0                        Administrated by the UN            46.000000
22                           Occupied by Marocco            49.800000
16                                      Monarchy            60.180000
28                                      Republic            62.459016
15                              Islamic Republic            63.150000
11                              Federal Republic            68.433333
32            Territorial Collectivity of France            68.550000
24                         Parlementary Monarchy            69.200000
20      Nonmetropolitan Territory of New Zealand            71.100000
1                                Autonomous Area            71.400000
27                              People'sRepublic            71.400000
4                        Constitutional Monarchy            71.868966
29                          Socialistic Republic            72.066667
18                          Monarchy (Sultanate)            72.700000
17                            Monarchy (Emirate)            73.000000
26                               Part of Denmark            73.250000
19           Nonmetropolitan Territory of France            73.800000
10                            Emirate Federation            74.100000
30                             Socialistic State            75.500000
3                         Commonwealth of the US            75.550000
23                 Overseas Department of France            76.025000
5              Constitutional Monarchy (Emirate)            76.100000
21  Nonmetropolitan Territory of The Netherlands            76.550000
8                  Dependent Territory of the UK            76.800000
6            Constitutional Monarchy, Federation            76.950000
34                                  US Territory            77.000000
12                                    Federation            79.600000
31        Special Administrative Region of China            80.550000
25                  Parliamentary Coprincipality            83.500000
2                               Co-administrated                  NaN
7                  Dependent Territory of Norway                  NaN
9                  Dependent Territory of the US                  NaN
13                      Independent Church State                  NaN
33                        Territory of Australia                  NaN

### What regions have a high average life expectancy?

In [8]:
country.groupby('region').mean('lifeexpectancy').sort('mean_lifeexpectancy',ascending=False)

                       region  mean_lifeexpectancy
1   Australia and New Zealand            78.800000
14           Nordic Countries            78.333333
24             Western Europe            78.255556
3             British Islands            77.250000
21            Southern Europe            76.528571
15              North America            75.820000
8                Eastern Asia            75.250000
4                   Caribbean            73.058333
6             Central America            71.025000
18              South America            70.946154
17                  Polynesia            70.733333
13                Middle East            70.566667
9              Eastern Europe            69.930000
2            Baltic Countries            69.000000
11                 Micronesia            68.085714
10                  Melanesia            67.140000
16            Northern Africa            65.385714
19             Southeast Asia            64.400000
22  Southern and Central Asia            61.350000
23             Western Africa            52.741176
7              Eastern Africa            50.810526
5              Central Africa            50.311111
20            Southern Africa            44.820000
0                  Antarctica                  NaN
12       Micronesia/Caribbean                  NaN

### What is the most common form of government?

In [13]:
country.groupby('governmentform').count('name').sort('count_name',ascending=False)

                                  governmentform  count_name
28                                      Republic         122
4                        Constitutional Monarchy          29
11                              Federal Republic          15
8                  Dependent Territory of the UK          12
16                                      Monarchy           5
23                 Overseas Department of France           4
33                        Territory of Australia           4
19           Nonmetropolitan Territory of France           4
6            Constitutional Monarchy, Federation           4
20      Nonmetropolitan Territory of New Zealand           3
34                                  US Territory           3
29                          Socialistic Republic           3
31        Special Administrative Region of China           2
15                              Islamic Republic           2
7                  Dependent Territory of Norway           2
26                               Part of Denmark           2
18                          Monarchy (Sultanate)           2
32            Territorial Collectivity of France           2
3                         Commonwealth of the US           2
21  Nonmetropolitan Territory of The Netherlands           2
30                             Socialistic State           1
24                         Parlementary Monarchy           1
27                              People'sRepublic           1
25                  Parliamentary Coprincipality           1
0                        Administrated by the UN           1
22                           Occupied by Marocco           1
1                                Autonomous Area           1
14                               Islamic Emirate           1
13                      Independent Church State           1
12                                    Federation           1
10                            Emirate Federation           1
9                  Dependent Territory of the US           1
5              Constitutional Monarchy (Emirate)           1
2                               Co-administrated           1
17                            Monarchy (Emirate)           1

### Which region has the highest total gnp?

In [12]:
country.groupby('region').sum('gnp').sort('sum_gnp',ascending=False)

                       region    sum_gnp
15              North America  9111890.0
8                Eastern Asia  5524885.0
24             Western Europe  4673272.0
21            Southern Europe  2012289.0
18              South America  1511874.0
3             British Islands  1454251.0
22  Southern and Central Asia   810604.0
13                Middle East   677260.0
14           Nordic Countries   676655.0
9              Eastern Europe   659980.0
19             Southeast Asia   642643.0
6             Central America   473151.0
1   Australia and New Zealand   405851.0
16            Northern Africa   243870.0
20            Southern Africa   126931.0
23             Western Africa   106711.0
4                   Caribbean   103586.2
7              Eastern Africa    69925.0
5              Central Africa    32938.0
2            Baltic Countries    22418.0
10                  Melanesia    10530.0
11                 Micronesia     1848.7
17                  Polynesia     1545.0
0                  Antarctica        0.0
12       Micronesia/Caribbean        0.0

### Show the 10 government forms with the largest population

In [15]:
country.groupby('governmentform').sum('population').sort('sum_population',ascending=False)

                                  governmentform  sum_population
11                              Federal Republic      2009320500
28                                      Republic      2003311200
27                              People'sRepublic      1277558000
4                        Constitutional Monarchy       405893000
29                          Socialistic Republic       115072000
15                              Islamic Republic        97192000
6            Constitutional Monarchy, Federation        82516000
16                                      Monarchy        25437000
14                               Islamic Emirate        22720000
31        Special Administrative Region of China         7255000
12                                    Federation         7160400
30                             Socialistic State         5605000
3                         Commonwealth of the US         3947000
1                                Autonomous Area         3101000
18                          Monarchy (Sultanate)         2870000
10                            Emirate Federation         2441000
5              Constitutional Monarchy (Emirate)         1972000
23                 Overseas Department of France         1731000
0                        Administrated by the UN          885000
17                            Monarchy (Emirate)          617000
19           Nonmetropolitan Territory of France          464000
34                                  US Territory          329000
21  Nonmetropolitan Territory of The Netherlands          320000
22                           Occupied by Marocco          293000
8                  Dependent Territory of the UK          193050
24                         Parlementary Monarchy          180000
32            Territorial Collectivity of France          156000
26                               Part of Denmark           99000
25                  Parliamentary Coprincipality           78000
20      Nonmetropolitan Territory of New Zealand           24000
33                        Territory of Australia            5100
7                  Dependent Territory of Norway            3200
13                      Independent Church State            1000
9                  Dependent Territory of the US               0
2                               Co-administrated               0

### List the total population of each continent and order them from smallest to largest

In [19]:
country.groupby('continent').sum('population').sort('sum_population')

       continent  sum_population
1     Antarctica               0
5        Oceania        30401150
6  South America       345780000
4  North America       482993000
3         Europe       730074600
0         Africa       784475000
2           Asia      3705025700

### Show the total number of countries for each region in Europe

In [16]:
country.query('continent=="Europe"').groupby('region').count('name').sort('count_name',ascending=False)

             region  count_name
4   Southern Europe          15
2    Eastern Europe          10
5    Western Europe           9
3  Nordic Countries           7
0  Baltic Countries           3
1   British Islands           2

### List the total population of each region in Africa from lowest to highest.

In [17]:
country.query('continent == "Africa"').groupby('region').sum('population').sort('sum_population')

            region  sum_population
3  Southern Africa        46886000
0   Central Africa        95652000
2  Northern Africa       173266000
4   Western Africa       221672000
1   Eastern Africa       246999000