# More Practice with Movies

In this assignment I introduce a third table in the movie database, the release_date table.  Thus in the postgresql database we now have three tables:

* moviecast
* title
* release_date

The tables have the following schema:

```
 Table "public.title"
 Column |  Type  | Modifiers 
--------+--------+-----------
 index  | bigint | 
 title  | text   | 
 year   | bigint | 


  Table "public.moviecast"
  Column   |       Type       | Modifiers 
-----------+------------------+-----------
 index     | bigint           | 
 title     | text             | 
 year      | bigint           | 
 name      | text             | 
 type      | text             | 
 character | text             | 
 n         | double precision | 



 Table "public.release_date"
 Column  |  Type  | Modifiers 
---------+--------+-----------
 index   | bigint | 
 title   | text   | 
 year    | bigint | 
 country | text   | 
 date    | date   | 
 month   | bigint |
 day     | bigint |
 dow     | bigint |
```


### Hints

* Warning, some of these queries can create very large cartesian products!   You may want to use query to help reduce the size of both relations.
* The ``njoin`` operator is more efficient with memory than cartesian product.  You should prefer njoin where you can.

In [21]:
from reframe import Relation
import warnings
warnings.filterwarnings('ignore')
from sols2 import *

moviecast = Relation('/home/faculty/millbr02/pub/cast.csv',sep=',')
title = Relation('/home/faculty/millbr02/pub/titles.csv',sep=',')
release_date = Relation('/home/faculty/millbr02/pub/release_dates.csv',sep=',')

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%sql postgresql://millbr02:@localhost/movies

'Connected: millbr02@movies'

In [24]:
import pandas as pd

from sqlalchemy import create_engine
engine = create_engine('postgresql://millbr02:@localhost/movies')

def len_check(act,got):
    if type(act) != list:
        act = [act]
    allres = [len(a) == len(got) for a in act]
    if not any(allres):
        ix = allres.index(False)
        print("Error, results are not the same length.  I was expecting {} rows but got {}".format(len(act[ix]),len(got)))
        assert False

def col_check(act,got):
    if list(act.columns) != list(got.columns):
        print("Error: I was expecting columns: ", list(act.columns))
        assert False

def show_diff(act,got):
    print("Found differences in two results:")
    diff = False
    for i in range(len(act)):
        if (act.iloc[i] != got.iloc[i]).all():
            diff = True
            print("diff in row", i, "expected: ", act.iloc[i])
            print("Got: ", got.iloc[i])
    if diff:
        assert False
        

def sol_cp1r(release_date,moviecast,got):
    act = release_date.query('year == 2014').groupby(['country']).count('year').rename('count_year','year')
    if list(act.columns) != list(got.columns):
        print("Error: I was expecting columns: ", list(act.columns))
        assert False
    len_check(act,got)
    if not got.sort(['country','year']).equals(act.sort(['country','year'])):
        show_diff(act.sort(['country','year']),got.sort(['country','year']))
        assert False

def sol_cp2r(release_date,moviecast,got):
    act = release_date.query('year > 1975').njoin(moviecast).query("name == 'Clint Eastwood' & n == 1").project(['country']).sort(['country'])
    if list(act.columns) != list(got.columns):
        print("Error: I was expecting columns: ", list(act.columns))
        assert False
    len_check(act,got)
    if not got.equals(act):
        show_diff(act,got)
        assert False
    
def sol_cp3r(release_date,moviecast,got):
    act = release_date.query("dow == 0 & year == 2014 & country == 'USA'").njoin(moviecast).query("n == 1").project(['name','title'])
    if list(act.columns) != list(got.columns):
        print("Error: I was expecting columns: ", list(act.columns))
        assert False
    len_check(act,got)
    if not got.sort(['name','title']).equals(act.sort(['name','title'])):
        show_diff(act.sort(['name','title']),got.sort(['name','title']))
        assert False

def sol_cp4r(release_date,moviecast,got):    
    act = release_date.query("month == 11 | month == 12 country == 'USA'").njoin(moviecast.query("n == 1 & year >= 2010")).groupby(['name']).count("title").sort(['count_title'],ascending=False).head(10)
    if list(act.columns) != list(got.columns):
        print("Error: I was expecting columns: ", list(act.columns))
        assert False
    len_check(act,got)
    if not got.equals(act):
        show_diff(act,got)
        assert False

def sol_cp5r(release_date,moviecast,got):
    act = release_date.query("(country == 'Germany' | country == 'USA') & year == 2014").\
    cartesian_product(release_date.query("(country == 'Germany' | country == 'USA') & year == 2014")).\
    query('date_x < date_y & country_x == "Germany" & country_y == "USA" & title_x == title_y').\
    project(['title_x']).rename('title_x','title')
    if list(act.columns) != list(got.columns):
        print("Error: I was expecting columns: ", list(act.columns))
        assert False
    len_check(act,got)
    if not got.sort(['title']).equals(act.sort(['title'])):
        show_diff(act.sort(['title']),got.sort(['title']))
        assert False

    
def to_df(rs):
    return pd.DataFrame(rs, columns=(rs and rs.keys) or [])

def sol_cp1s(got):
    q = "select country, count(*) from release_date where year = 2014 group by country"
    act = pd.read_sql_query(q,engine)
    got = to_df(got)
    col_check(act,got)
    len_check(act,got)
    if not got.sort(['country','count']).equals(act.sort(['country','count'])):
        show_diff(act.sort(['country','count']),got.sort(['country','count']))
        assert False
    
def sol_cp2s(got):
    q = '''select distinct country
from release_date natural join moviecast
where name = 'Clint Eastwood' and release_date.year > 1975 and n = 1
order by country
'''
    act = pd.read_sql_query(q,engine)
    got = to_df(got)
    col_check(act,got)
    len_check(act,got)
    if not got.equals(act):
        show_diff(act,got)
        assert False
    
def sol_cp3s(got):
    q = '''select name, moviecast.title
from moviecast natural join release_date
where dow = 0 and release_date.year = 2014 and country = 'USA' and n = 1
'''
    q2 = '''select distinct name, moviecast.title
from moviecast natural join release_date
where dow = 0 and release_date.year = 2014 and country = 'USA' and n = 1
'''
    act = pd.read_sql_query(q,engine)
    act2 = pd.read_sql_query(q2,engine)
    got = to_df(got)
    col_check(act,got)
    len_check([act,act2],got)
    if not got.sort(['name','title']).equals(act.sort(['name','title'])) or got.sort(['name','title']).equals(act2.sort(['name','title'])):
        show_diff(act.sort(['name','title']),got.sort(['name','title']))
        assert False

    
def sol_cp4s(got):
    q = '''select moviecast.name
from moviecast natural join release_date
where release_date.year >= 2010 and n = 1 and country = 'USA' and (month = 11 or month = 12)
group by name
order by count(*) desc
limit 10
'''
    act = pd.read_sql_query(q,engine)
    got = to_df(got)
    col_check(act,got)
    len_check(act,got)
    if not got.equals(act):
        show_diff(act,got)
        

    
def sol_cp5s(got):
    q = '''select A.title
from release_date A, release_date B
where A.country = 'Germany' and B.country = 'USA' and A.date < B.date and A.title = B.title and A.year = 2014 and B.year = 2014
'''
    act = pd.read_sql_query(q,engine)
    got = to_df(got)
    col_check(act,got)
    len_check(act,got)
    assert got.sort(['title']).equals(act.sort(['title']))

## 1.  How many movies were released in each country in the year 2014?

Your result should be a table that contains the columns country and year

In [25]:
release_date.query('year == 2014').groupby(['country']).count('year').project(['country','count_year'])

                    country  count_year
0               Afghanistan           3
1                   Albania          30
2                   Algeria           3
3                   Andorra           1
4                    Angola           4
5       Antigua and Barbuda           1
6                 Argentina         216
7                   Armenia          16
8                     Aruba          26
9                 Australia         230
10                  Austria         161
11               Azerbaijan         108
12                  Bahamas          17
13                  Bahrain          37
14               Bangladesh          37
15                 Barbados           2
16                  Belarus          28
17                  Belgium         255
18                   Bhutan           2
19                  Bolivia          42
20   Bosnia and Herzegovina          20
21       Bosnia-Herzegovina           1
22                   Brazil         296
23        Brunei Darussalam           5
24                 Bulgaria          95
25             Burkina Faso           1
26                  Burundi           1
27                 Cambodia          79
28                 Cameroon           2
29                   Canada         231
..                      ...         ...
122                 Senegal           1
123                  Serbia         136
124   Serbia and Montenegro           1
125               Singapore         299
126                Slovakia          77
127                Slovenia         113
128            South Africa         156
129             South Korea         241
130                   Spain         227
131               Sri Lanka          16
132                  Sweden         230
133                   Syria          10
134                  Taiwan         234
135              Tajikistan           1
136                Tanzania           1
137                Thailand         180
138                   Tonga           1
139     Trinidad and Tobago          43
140                 Tunisia           4
141                  Turkey         316
142                      UK         550
143                     USA        1310
144                  Uganda           1
145                 Ukraine         142
146    United Arab Emirates         109
147                 Uruguay          81
148              Uzbekistan           2
149               Venezuela          73
150                 Vietnam         143
151                Zimbabwe           3

[152 rows x 2 columns]

In [ ]:
sol_cp1r(release_date,moviecast,_)

In [27]:
%%sql

select country, count(year) from release_date where year = 2014 group by country;

152 rows affected.

[('Costa Rica', 19),
 ('Cambodia', 79),
 ('Turkey', 316),
 ('Cyprus', 57),
 ('Samoa', 1),
 ('Slovenia', 113),
 ('Vietnam', 143),
 ('Kuwait', 346),
 ('Jamaica', 24),
 ('Antigua and Barbuda', 1),
 ('Cameroon', 2),
 ('Saudi Arabia', 1),
 ('Bosnia and Herzegovina', 20),
 ('Netherlands', 330),
 ('Barbados', 2),
 ('Nigeria', 19),
 ('Lebanon', 114),
 ('Dominican Republic', 38),
 ('Egypt', 67),
 ('Cook Islands', 2),
 ('Maldives', 2),
 ('Guyana', 1),
 ('Australia', 230),
 ('Bahamas', 17),
 ('Georgia', 15),
 ('Uganda', 1),
 ('Argentina', 216),
 ('Slovakia', 77),
 ('Angola', 4),
 ('Burkina Faso', 1),
 ('Oman', 35),
 ('Nicaragua', 4),
 ('Afghanistan', 3),
 ('Czech Republic', 143),
 ('Cuba', 2),
 ('Ghana', 3),
 ('Liechtenstein', 2),
 ('Ethiopia', 8),
 ('Azerbaijan', 108),
 ('Brazil', 296),
 ('Ivory Coast', 1),
 ('Mongolia', 14),
 ('Marshall Islands', 1),
 ('Israel', 221),
 ('Senegal', 1),
 ('Chile', 180),
 ('New Zealand', 170),
 ('Hungary', 233),
 ('USA', 1310),
 ('San Marino', 2),
 ('El Salvador', 11),
 ('Burundi', 1),
 ('Mozambique', 1),
 ('Uzbekistan', 2),
 ('Mexico', 225),
 ('Finland', 165),
 ('Papua New Guinea', 21),
 ('Taiwan', 234),
 ('Sri Lanka', 16),
 ('Thailand', 180),
 ('Estonia', 206),
 ('Latvia', 106),
 ('Montenegro', 15),
 ('Serbia and Montenegro', 1),
 ('Kosovo', 3),
 ('Peru', 188),
 ('Venezuela', 73),
 ('Bhutan', 2),
 ('Bahrain', 37),
 ('Algeria', 3),
 ('Bosnia-Herzegovina', 1),
 ('Kyrgyzstan', 4),
 ('Malaysia', 159),
 ('Uruguay', 81),
 ('Aruba', 26),
 ('Iran', 28),
 ('Macao', 3),
 ('Spain', 227),
 ('Ukraine', 142),
 ('Serbia', 136),
 ('South Korea', 241),
 ('Belarus', 28),
 ('Jordan', 43),
 ('Tonga', 1),
 ('Zimbabwe', 3),
 ('Ireland', 297),
 ('Haiti', 1),
 ('Hong Kong', 247),
 ('Iceland', 82),
 ('Portugal', 272),
 ('Romania', 155),
 ('Liberia', 1),
 ('Puerto Rico', 32),
 ('Trinidad and Tobago', 43),
 ('Canada', 231),
 ('Austria', 161),
 ('China', 154),
 ('Moldova', 3),
 ('Tajikistan', 1),
 ('Panama', 44),
 ('Kenya', 59),
 ('South Africa', 156),
 ('Monaco', 5),
 ('Occupied Palestinian Territory', 2),
 ('Poland', 296),
 ('Republic of Macedonia', 119),
 ('Honduras', 16),
 ('Albania', 30),
 ('Kazakhstan', 104),
 ('Brunei Darussalam', 5),
 ('Croatia', 119),
 ('Luxembourg', 50),
 ('Tunisia', 4),
 ('Italy', 320),
 ('Pakistan', 150),
 ('Sweden', 230),
 ('Armenia', 16),
 ('Greece', 263),
 ('Malta', 35),
 ('India', 621),
 ('UK', 550),
 ('Paraguay', 41),
 ('Myanmar', 5),
 ('Guam', 1),
 ('Philippines', 294),
 ('Qatar', 29),
 ('Morocco', 10),
 ('Andorra', 1),
 ('Greenland', 2),
 ('Indonesia', 103),
 ('Belgium', 255),
 ('Bolivia', 42),
 ('Rwanda', 1),
 ('United Arab Emirates', 109),
 ('Tanzania', 1),
 ('Bulgaria', 95),
 ('Norway', 232),
 ('Fiji', 16),
 ('Guatemala', 13),
 ('Singapore', 299),
 ('Germany', 398),
 ('France', 483),
 ('Iraq', 76),
 ('Colombia', 97),
 ('Japan', 495),
 ('Ecuador', 44),
 ('Nepal', 22),
 ('Denmark', 228),
 ('Russia', 230),
 ('Syria', 10),
 ('Bangladesh', 37),
 ('Lithuania', 156)]

In [ ]:
sol_cp1s(_)

## 2.  Show all of the countries in alphabetical order that released a movie starring clint eastwood after 1975

Your answer should be a single column with the names of the countries.  The country names should not be duplicated.

In [28]:
release_date.query('year > 1975').njoin(moviecast).query("name == 'Clint Eastwood' & n == 1").project(['country']).sort(['country'])

                       country
404237               Argentina
404333               Australia
1435310                Austria
403901                 Belgium
12261082               Bolivia
823231                  Brazil
404261                Bulgaria
403877                  Canada
3935447                  Chile
1620196               Colombia
3936921                Croatia
1435208         Czech Republic
404045                 Denmark
12263414               Ecuador
3935983                  Egypt
3936452                Estonia
404285                 Finland
403925                  France
403973                 Germany
1435140                 Greece
3114911              Hong Kong
404213                 Hungary
404069                 Iceland
3935313                  India
404093                 Ireland
3934442                 Israel
1435344                  Italy
404021                   Japan
3936586             Kazakhstan
404477                  Kuwait
...                        ...
404429             Netherlands
404381             New Zealand
404117                  Norway
3935782                 Panama
1435276                   Peru
3934107            Philippines
404357                  Poland
403997                Portugal
12260976           Puerto Rico
3937189                Romania
1435072                 Russia
403949               Singapore
3936720               Slovakia
404405                Slovenia
3936385           South Africa
404189             South Korea
404309                   Spain
404141                  Sweden
1434868            Switzerland
3937323                  Syria
1434698                 Taiwan
6454143               Thailand
404453                  Turkey
404165                      UK
403853                     USA
3936854                Ukraine
3935246   United Arab Emirates
3115079                Uruguay
3935916              Venezuela
823033            West Germany

[65 rows x 1 columns]

In [ ]:
sol_cp2r(release_date,moviecast,_)

In [29]:
%%sql

select distinct country from moviecast natural join release_date 
where year > 1975 and name = 'Clint Eastwood' and moviecast.n = 1
order by country;

65 rows affected.

[('Argentina',),
 ('Australia',),
 ('Austria',),
 ('Belgium',),
 ('Bolivia',),
 ('Brazil',),
 ('Bulgaria',),
 ('Canada',),
 ('Chile',),
 ('Colombia',),
 ('Croatia',),
 ('Czech Republic',),
 ('Denmark',),
 ('Ecuador',),
 ('Egypt',),
 ('Estonia',),
 ('Finland',),
 ('France',),
 ('Germany',),
 ('Greece',),
 ('Hong Kong',),
 ('Hungary',),
 ('Iceland',),
 ('India',),
 ('Ireland',),
 ('Israel',),
 ('Italy',),
 ('Japan',),
 ('Kazakhstan',),
 ('Kuwait',),
 ('Latvia',),
 ('Lebanon',),
 ('Lithuania',),
 ('Malaysia',),
 ('Mexico',),
 ('Netherlands',),
 ('New Zealand',),
 ('Norway',),
 ('Panama',),
 ('Peru',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Puerto Rico',),
 ('Romania',),
 ('Russia',),
 ('Singapore',),
 ('Slovakia',),
 ('Slovenia',),
 ('South Africa',),
 ('South Korea',),
 ('Spain',),
 ('Sweden',),
 ('Switzerland',),
 ('Syria',),
 ('Taiwan',),
 ('Thailand',),
 ('Turkey',),
 ('UK',),
 ('Ukraine',),
 ('United Arab Emirates',),
 ('Uruguay',),
 ('USA',),
 ('Venezuela',),
 ('West Germany',)]

In [ ]:
sol_cp2s(_)

## 3.  Show the name of the lead actor/actress and title of the movie where the movie was released on a sunday in the USA during 2014.

In [30]:
release_date.query("dow == 0 & country == 'USA' & year == 2014").njoin(moviecast.query("n == 1")).sort(['name', 'title']).project(['name', 'title'])

                     name                               title
27    April Hollingsworth                             Prosper
28     Ashley (VII) James                       Rebound (III)
21           Barry Corbin                        Mountain Top
36         Brandon Jacobs                 The Grievance Group
37     Cabrina Collesides                 The Grievance Group
8          Cameron Bender                             Find Me
30  Christopher (VI) Hunt                    Right to Believe
10  Daniel (II) Gilchrist                    Ghost in da hood
15              Dean Cain                     Holiday Miracle
46             Donnie Yen         Xi you ji: Da nao tian gong
29           Emily Stride                  Red Kingdom Rising
33             Errol Sack                           Station 4
3       Esperanza Catubig                         Acts of God
6           Fabien Garcia                        Die Fighting
39          Glenn Plummer                 The Other Side (IV)
7             Jered Allen                      Down the Chain
22      Jessica Sonneborn                 Never Open the Door
18     Josh (II) Mitchell                     Lack of Cockery
5      Julian (II) Hanlan            Close Friends: The Movie
1          Kathryn Hunter           A Midsummer Night's Dream
45           Kelly Delson                       Walking in LA
20         Kevin Ashworth                  Look in the Mirror
2      Kimberly (II) Cook                    A Reckless Phase
17         Lelani Mitchem                     Inside Room 234
4          Leslee Crisman                 Beneath Glass Trees
34       Michael Blackson                  The Bill Collector
9              Miles Snow                      Fix It in Post
35     Natasha Henstridge                The Christmas Switch
14          Nicole Kidman                     Grace of Monaco
23             Omer Pasha   Omer Pasha Music Videos: Volume 2
0          Paul Alexandro                 3:13 Three Thirteen
31         Richard Beatty                          Sammy-Gate
44           Robin Givens                      Unspoken Words
13           Rose Cosenza                            Glamarus
32    Ryan (III) Santiago  Slade Collins and the Tree of Life
42        Ryan-Iver Klann                         Uncle Buddy
40       Samantha Koerner                           The Riven
41      Shanna Mclaughlin                  The Summoning (II)
16        Terrence Howard                     House of Bodies
19           Tom Berenger                Lonesome Dove Church
43           Tom Sizemore                          Unkillable
38      Zach (III) Pappas              The Odyssey of Destiny

In [ ]:
sol_cp3r(release_date,moviecast,_)

In [31]:
%%sql

select distinct name, title
from moviecast natural join release_date
where n = 1 and release_date.year = 2014 and dow = 0 and country = 'USA'
order by name, title;

42 rows affected.

[('April Hollingsworth', 'Prosper'),
 ('Ashley (VII) James', 'Rebound (III)'),
 ('Barry Corbin', 'Mountain Top'),
 ('Brandon Jacobs', 'The Grievance Group'),
 ('Cabrina Collesides', 'The Grievance Group'),
 ('Cameron Bender', 'Find Me'),
 ('Christopher (VI) Hunt', 'Right to Believe'),
 ('Daniel (II) Gilchrist', 'Ghost in da hood'),
 ('Dean Cain', 'Holiday Miracle'),
 ('Donnie Yen', 'Xi you ji: Da nao tian gong'),
 ('Emily Stride', 'Red Kingdom Rising'),
 ('Errol Sack', 'Station 4'),
 ('Esperanza Catubig', 'Acts of God'),
 ('Fabien Garcia', 'Die Fighting'),
 ('Glenn Plummer', 'The Other Side (IV)'),
 ('Jered Allen', 'Down the Chain'),
 ('Jessica Sonneborn', 'Never Open the Door'),
 ('Josh (II) Mitchell', 'Lack of Cockery'),
 ('Julian (II) Hanlan', 'Close Friends: The Movie'),
 ('Kathryn Hunter', "A Midsummer Night's Dream"),
 ('Kelly Delson', 'Walking in LA'),
 ('Kevin Ashworth', 'Look in the Mirror'),
 ('Kimberly (II) Cook', 'A Reckless Phase'),
 ('Lelani Mitchem', 'Inside Room 234'),
 ('Leslee Crisman', 'Beneath Glass Trees'),
 ('Michael Blackson', 'The Bill Collector'),
 ('Miles Snow', 'Fix It in Post'),
 ('Natasha Henstridge', 'The Christmas Switch'),
 ('Nicole Kidman', 'Grace of Monaco'),
 ('Omer Pasha', 'Omer Pasha Music Videos: Volume 2'),
 ('Paul Alexandro', '3:13 Three Thirteen'),
 ('Richard Beatty', 'Sammy-Gate'),
 ('Robin Givens', 'Unspoken Words'),
 ('Rose Cosenza', 'Glamarus'),
 ('Ryan (III) Santiago', 'Slade Collins and the Tree of Life'),
 ('Ryan-Iver Klann', 'Uncle Buddy'),
 ('Samantha Koerner', 'The Riven'),
 ('Shanna Mclaughlin', 'The Summoning (II)'),
 ('Terrence Howard', 'House of Bodies'),
 ('Tom Berenger', 'Lonesome Dove Church'),
 ('Tom Sizemore', 'Unkillable'),
 ('Zach (III) Pappas', 'The Odyssey of Destiny')]

In [ ]:
sol_cp3s(_)

## 4. Show the top 10 actors/actresses that have starred in the most movies released in the USA in the christmas season since (and including) the year 2010

Lets define the Christmas season as the months of November and December.

In [32]:
release_date.query("(month == 11 | month == 12) & country == 'USA'").njoin(moviecast.query("n==1 & year >= 2010")).\
groupby(['name']).count("title").sort(['count_title','name'],ascending = False).project(['name', 'count_title']).head(10)

                        name  count_title
608             Zack Akerman            5
265  Jennifer (III) Lawrence            4
142                Dean Cain            4
47               Ben Stiller            4
476            Ranbir Kapoor            3
417       Nagarjuna Akkineni            3
381              Melissa Leo            3
264             Jeff Bridges            3
221             Ian McKellen            3
158           Eddie Redmayne            3

In [ ]:
sol_cp4r(release_date,moviecast,_)

In [33]:
%%sql

select moviecast.name, count(release_date.title) from moviecast natural join release_date
where n = 1 and release_date.year >= 2010 and (month = 11 or month = 12) and country = 'USA'
group by name order by count(release_date.title) desc limit(10);

10 rows affected.

[('Zack Akerman', 5),
 ('Jennifer (III) Lawrence', 4),
 ('Ben Stiller', 4),
 ('Dean Cain', 4),
 ('Ranbir Kapoor', 3),
 ('Jeff Bridges', 3),
 ('Christian Bale', 3),
 ('Melissa Leo', 3),
 ('Ian McKellen', 3),
 ('Eddie Redmayne', 3)]

In [ ]:
sol_cp4s(_)

## 5.  Show the title of all of the movies that were released in Germany before they were released in the USA in the year 2014.

In [39]:
release_date.query("(country == 'Germany' | country == 'USA') & year == 2014").\
cartesian_product(release_date.query("(country == 'Germany' | country == 'USA') & year == 2014")).\
    query('date_x < date_y & country_x == "Germany" & country_y == "USA" & title_x == title_y').project(['title_x'])

                                           title_x
42726                       300: Rise of an Empire
83742                               A Little Chaos
99123            A Million Ways to Die in the West
357182                                    Big Game
370854               Billy Elliot the Musical Live
396489                                     Blended
430669                                     Boyhood
488775         Captain America: The Winter Soldier
540045                        Clouds of Sils Maria
685310                              Der 7bte Zwerg
731453                                      Difret
762215                              Dracula Untold
781014                          Dumb and Dumber To
801522                                   Eden (II)
804940                            Edge of Tomorrow
979258                                    Godzilla
982676                                   Gone Girl
996348                             Grace of Monaco
1133068                            I, Frankenstein
1138195                           Ich seh, Ich seh
1160412                               Interstellar
1283460                                   Kreuzweg
1331312                              Le meraviglie
1334730                          Learning to Drive
1401381                               Love & Mercy
1433852                                 Maleficent
1445815                          Maps to the Stars
1457778                         Maya the Bee Movie
1532974                      Mr. Peabody & Sherman
1582535                                  Neighbors
1592789    Night at the Museum: Secret of the Tomb
1623551                   Northmen - A Viking Saga
1695329                                 Paddington
1703874       Paranormal Activity: The Marked Ones
1738054                               Phoenix (II)
1773943                            Praia do Futuro
1873065                                      Rio 2
1883319                                    RoboCop
1958515                                     Serena
1987568                       She's Funny That Way
2084981                             Step Up All In
2134542                                    Taken 3
2177267                   The Amazing Spider-Man 2
2296897                       The Face of an Angel
2329368                   The Grand Budapest Hotel
2346458  The Hobbit: The Battle of the Five Armies
2360130      The Hunger Games: Mockingjay - Part 1
2413109                           The Little Death
2416527                                   The Loft
2527612                         The Red House (II)
2537866                                The Rewrite
2667750                                Tokyo Tribe
2688258                                      Trash
2719020                          Une nouvelle amie
2809597                 What We Did on Our Holiday
2813015                  What We Do in the Shadows
2855740                              Winter's Tale
2881375                 X-Men: Days of Future Past
2912137                                 Zombeavers

In [ ]:
sol_cp5r(release_date,moviecast,_)

In [40]:
%%sql

select x.title
from release_date x, release_date y
where x.country = 'Germany' and y.country = 'USA'
and x.date < y.date and x.title = y.title
and x.year = 2014 and y.year = 2014;

59 rows affected.

[('Rio 2',),
 ('RoboCop',),
 ('Serena',),
 ("She's Funny That Way",),
 ('Step Up All In',),
 ('Taken 3',),
 ('The Amazing Spider-Man 2',),
 ('The Face of an Angel',),
 ('The Grand Budapest Hotel',),
 ('The Hobbit: The Battle of the Five Armies',),
 ('The Hunger Games: Mockingjay - Part 1',),
 ('The Little Death',),
 ('The Loft',),
 ('The Red House (II)',),
 ('The Rewrite',),
 ('Tokyo Tribe',),
 ('Trash',),
 ('Une nouvelle amie',),
 ('What We Did on Our Holiday',),
 ('What We Do in the Shadows',),
 ("Winter's Tale",),
 ('X-Men: Days of Future Past',),
 ('Zombeavers',),
 ('300: Rise of an Empire',),
 ('A Little Chaos',),
 ('A Million Ways to Die in the West',),
 ('Big Game',),
 ('Billy Elliot the Musical Live',),
 ('Blended',),
 ('Boyhood',),
 ('Captain America: The Winter Soldier',),
 ('Clouds of Sils Maria',),
 ('Der 7bte Zwerg',),
 ('Difret',),
 ('Dracula Untold',),
 ('Dumb and Dumber To',),
 ('Eden (II)',),
 ('Edge of Tomorrow',),
 ('Godzilla',),
 ('Gone Girl',),
 ('Grace of Monaco',),
 ('I, Frankenstein',),
 ('Ich seh, Ich seh',),
 ('Interstellar',),
 ('Kreuzweg',),
 ('Le meraviglie',),
 ('Learning to Drive',),
 ('Love & Mercy',),
 ('Maleficent',),
 ('Maps to the Stars',),
 ('Maya the Bee Movie',),
 ('Mr. Peabody & Sherman',),
 ('Neighbors',),
 ('Night at the Museum: Secret of the Tomb',),
 ('Northmen - A Viking Saga',),
 ('Paddington',),
 ('Paranormal Activity: The Marked Ones',),
 ('Phoenix (II)',),
 ('Praia do Futuro',)]

In [41]:
sol_cp5s(_)